{% extends 'base.html' %}

{% block content %}
<section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto flex flex-wrap items-center">
      <div class="lg:w-3/5 md:w-1/2 md:pr-16 lg:pr-0 pr-0">
        <h1 class="title-font font-medium text-3xl text-gray-900">Slow-carb next level shoindcgoitch ethical authentic, poko scenester</h1>
        <p class="leading-relaxed mt-4">Poke slow-carb mixtape knausgaard, typewriter street art gentrify hammock starladder roathse. Craies vegan tousled etsy austin.</p>
      </div>
      <div class="lg:w-2/6 md:w-1/2 bg-gray-100 rounded-lg p-8 flex flex-col md:ml-auto w-full mt-10 md:mt-0">
        <h2 class="text-gray-900 text-lg font-medium title-font mb-5">Sign In</h2>
        <form action="{% url 'signin' %}" method="POST" hx-indicator="#my-indicator" hx-boost="true">
            {% csrf_token %}
            {% if form.errors %}
            <div class="text-xs text-red-600 dark:text-red-600">
                {{ form.non_field_errors }}
            </div>
            {% endif %}
            <label for="email" class="leading-7 text-sm text-gray-600">Email</label>
            <div class="text-red-600 text-xs dark:text-red-600">
                {{form.username.errors}}
            </div>
            {{form.username}}
            <label for="password" class="leading-7 text-sm text-gray-600">Password</label>
            {{form.password}}
            
        <button type="submit" class="text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg">Sign In</button>
        </form>
        
        
      </div>
    </div>
  </section>

{% endblock content %}


