{% extends 'base.html' %}

{% block content %}
<section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto flex flex-wrap items-center">
      <div class="lg:w-3/5 md:w-1/2 md:pr-16 lg:pr-0 pr-0">
        <h1 class="title-font font-medium text-3xl text-gray-900">Sign Up</h1>
        <p class="leading-relaxed mt-4">Sign up to add your favorite own recipe in the app</p>
      </div>
      <div class="lg:w-2/6 md:w-1/2 bg-gray-100 rounded-lg p-8 flex flex-col md:ml-auto w-full mt-10 md:mt-0">
        <h2 class="text-gray-900 text-lg font-medium title-font mb-5">Sign Up</h2>
        <form action="{% url 'signup' %}" hx-indicator="#my-indicator" hx-boost="true" method="POST">
            {% csrf_token %}
            {% if form.errors %}
            <div class="text-xs text-red-600 dark:text-red-600">
                {{ form.non_field_errors }}
            </div>
            {% endif %}
            <div>
                <label for="email" class="leading-7 text-sm text-gray-600">Email</label>
                <div class="text-red-600 text-xs dark:text-red-600">
                    {{form.email.errors}}
                </div>
                {{form.email}}
            </div>
            <div>
                <label for="username" class="leading-7 text-sm text-gray-600">Username</label>
                <div class="text-red-600 text-xs dark:text-red-600">
                    {{form.username.errors}}
                </div>
                {{form.username}}
            </div>
            <div>
                <label for="password1" class="leading-7 text-sm text-gray-600">Password</label>
                <div class="text-red-600 text-xs dark:text-red-600">
                    {{form.password1.errors}}
                </div>
                {{form.password1}}
            </div>
            <div>
                <label for="password2" class="leading-7 text-sm text-gray-600">Re-type password</label>
                <div class="text-red-600 text-xs dark:text-red-600">
                    {{form.password2.errors}}
                </div>
                {{form.password2}}
            </div>
            
     

        <button type="submit" class="text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg">Sign Up</button>
        </form>
        
      </div>
    </div>
  </section>

{% endblock content %}


