<div class="flex justify-center">
    <nav aria-label="Table navigation">
        <ul class="inline-flex items-center">
            <a href="?page=1" hx-boost="true" hx-indicator="#my-indicator">
            <li>
              <button
              class="px-3 py-1 rounded-md rounded-l-lg focus:outline-none focus:shadow-outline-blue"
              aria-label="Previous"
              >
              First
              </button>
            </li>
          </a>
          {% if page_obj.has_previous %}
          <li>
            <a
              hx-boost="true"
              hx-indicator="#my-indicator"
              href="?page={{ page_obj.previous_page_number }}"
            >
              <button
                class="px-3 py-1 rounded-md rounded-l-lg focus:outline-none focus:shadow-outline-blue"
                aria-label="Previous"
              >
                <svg
                  class="w-4 h-4 fill-current"
                  aria-hidden="true"
                  viewBox="0 0 20 20"
                >
                  <path
                    d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z"
                    clip-rule="evenodd"
                    fill-rule="evenodd"
                  ></path>
                </svg>
              </button>
            </a>
          </li>
          {% endif %} 
          {% for num in page_obj.paginator.page_range %} 
          {% if page_obj.number == num %}
          <li>
            <a href="?page={{ num }}" hx-boost="true"  hx-indicator="#my-indicator">
              <button
                class="px-3 py-1 text-white transition-colors duration-150 bg-blue-600 border border-r-0 border-blue-600 rounded-md focus:outline-none focus:shadow-outline-blue"
              >
                {{ num }}
              </button>
            </a>
          </li>
    
          {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
          <li>
            <a href="?page={{ num }}" hx-boost="true"  hx-indicator="#my-indicator">
              <button
                class="px-3 py-1 rounded-md focus:outline-none focus:shadow-outline-blue"
              >
                {{ num }}
              </button>
            </a>
          </li>
    
          {% endif %} 
          {% endfor %} 
          {% if page_obj.has_next %}
          <li>
            <a hx-boost="true" href="?page={{ page_obj.next_page_number }}"  hx-indicator="#my-indicator">
              <button
                class="px-3 py-1 rounded-md rounded-r-lg focus:outline-none focus:shadow-outline-blue"
                aria-label="Next"
              >
                <svg
                  class="w-4 h-4 fill-current"
                  aria-hidden="true"
                  viewBox="0 0 20 20"
                >
                  <path
                    d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                    clip-rule="evenodd"
                    fill-rule="evenodd"
                  ></path>
                </svg>
              </button>
            </a>
          </li>
          {% endif %}
        <li>
          <a href="?page={{page_obj.paginator.num_pages}}" hx-boost="true"  hx-indicator="#my-indicator">
            <button
            class="px-3 py-1 rounded-md rounded-l-lg focus:outline-none focus:shadow-outline-blue"
            aria-label="Previous"
            >
            Last
            </button>
          </a>
        </li>
        
        </ul>
      </nav>
</div>